name: Deploy Admin Front Production

on:
  workflow_dispatch:

env:
  AWS_ROLE_ARN: arn:aws:iam::392961483375:role/reaction-github-action-role

jobs:
  deploy_admin_front_production:
    name: build admin front production
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      contents: read
    steps:
    - name: Checkout
      uses: actions/checkout@v4

    - name: configure aws credentials
      uses: aws-actions/configure-aws-credentials@v4
      with:
        role-to-assume: ${{ env.AWS_ROLE_ARN }}
        role-session-name: github-action-role-${{ github.run_id }}
        aws-region: ap-northeast-1

    - name: configure aws profiles
      run: |
        mkdir ~/.aws
        cp .github/workflows/aws_config/config ~/.aws/config

    - name: Setup Node.js
      uses: actions/setup-node@v4
      with:
        node-version: 23.11.0

    - name: Install pnpm
      uses: pnpm/action-setup@v4
      with:
        version: 10

    - name: Build Admin Front
      working-directory: admin
      env:
        PRODUCTION_NEXT_PUBLIC_API_KEY: ${{ secrets.PRODUCTION_NEXT_PUBLIC_API_KEY }}
      run: make build-production

    - name: Assume Production Role
      run: |
        CREDS=$(aws sts assume-role --role-arn arn:aws:iam::467988630030:role/reaction-ci-role --role-session-name github-actions-deployment)
        echo "AWS_ACCESS_KEY_ID=$(echo $CREDS | jq -r '.Credentials.AccessKeyId')" >> $GITHUB_ENV
        echo "AWS_SECRET_ACCESS_KEY=$(echo $CREDS | jq -r '.Credentials.SecretAccessKey')" >> $GITHUB_ENV
        echo "AWS_SESSION_TOKEN=$(echo $CREDS | jq -r '.Credentials.SessionToken')" >> $GITHUB_ENV

    - name: Deploy Admin Front to S3
      working-directory: admin
      run: aws s3 sync ./out/ s3://admin.reaction-production.swiswiswift.com --exact-timestamps --delete

    - name: Invalidate CloudFront Cache
      run: aws cloudfront create-invalidation --distribution-id E3AOD193EW8R9B --paths "/*"
