name: Deploy Admin API Development

on:
  workflow_dispatch:

env:
  AWS_ROLE_ARN: arn:aws:iam::392961483375:role/reaction-github-action-role
  LAMBDA_FUNCTION_NAME: reaction-api
  IMAGE_TAG: ${{ github.sha }}

permissions:
  id-token: write
  contents: read

jobs:
  build-and-deploy:
    name: Build and Deploy Admin API to Development
    runs-on: ubuntu-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v4

    - name: configure aws credentials
      uses: aws-actions/configure-aws-credentials@v4
      with:
        role-to-assume: ${{ env.AWS_ROLE_ARN }}
        role-session-name: github-action-role-${{ github.run_id }}
        aws-region: ap-northeast-1

    - name: configure aws profiles
      run: |
        mkdir ~/.aws
        cp .github/workflows/aws_config/config ~/.aws/config

    - name: set up QEMU
      uses: docker/setup-qemu-action@v3
      with:
        platforms: linux/arm64

    - name: set up Docker Buildx
      uses: docker/setup-buildx-action@v3

    - name: build Admin image
      working-directory: application
      env:
        GITHUB_SHA: ${{ github.sha }}
      run: make build-admin-image

    - name: Update Lambda function image
      run: |
        aws lambda update-function-code \
          --function-name ${{ env.LAMBDA_FUNCTION_NAME }} \
          --image-uri 392961483375.dkr.ecr.ap-northeast-1.amazonaws.com/reaction-admin:${{ env.IMAGE_TAG }} \
          --profile reaction-development
